# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
sentinel_logs.db

# Environments
.env
.venv
env/
venv/
ds_env/
ENV/
env.bak/
venv.bak/

# Project specific
*.log
